<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    {{>navbar}}
     <h3 class="headings">What We Do</h3>
     <p class="intropara">
    Helping mission-driven companies grow We know what it takes 
    for a brand at any stage to launch, grow and evolve, thanks 
    to our strategic business acumen and entrepreneurial experience. 
    We know the playbook. And, we’ve added a few pages of our own along the way..</p>
    <p class="aboutpara">
        Strategy  —  Branding  —  Design  —  Paid Media, Traditional and Digital  —  
        Public Relations  —  Influencer Relations  —  Owned Media  —  Measurement + Analytics  —  ESG
    </p>
    <div class="Strategy">
        <li>Brand architecture and positioning</li>
        <li>Audience sizing and understanding</li>
        <li>Research</li>
        <li>Storytelling platform and key message development</li>
        <li>Audience testing and journey mapping</li>
        <li>Audits to inform opportunities across paid/owned/earned</li>
    </div>
    <footer>
    <div class="center">
        <img class="footer_img1" src="logo1.png">
        <h1>Scruman Tech</h1>
        <p1>43 SE Main Street, Suite 300</p>
        <p1>Minneapolis, MN 55414</p1>
        <div>
            <img class="footer_img2" src="insta.png">
            <img class="footer_img2" src="linkdin.png">
        </div>
        &copy; www.Scruman.com All rights reserved;
        
    </div>
</footer>
</body>
</html>