<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    {{>navbar}}
   <h3 class="headings">Welcome To Scruman Technologies</h3>
   <p class="intropara">
    From leaders of the good food movement and cause marketing 
    innovators to entrepreneurs with life-changing ideas, we tell the stories 
    of pioneers making a difference in the world.</p>
    <div class="sections">
        <div class="box">
            <img src="img2.jpg">
            <div class="bottom-left">Stay Head of the Curve</div>
            
        </div>
        <div class="box">
            <img src="img6.jpg">
            <div class="bottom-left1">Know your Competitors</div>
        </div>
    </div>
    <div class="sections">
        <div class="box">
            <img src="img7.jpg">
            <div class="bottom-left2">Make a Calculated Move</div>
        </div>
        <div class="box">
            <img src="img5.jpg">
             <div class="bottom-left3">Know Where You Are</div>
        </div>
    </div>
    <footer>
    <div class="center">
        <img class="footer_img1" src="logo1.png">
        <h1>Scruman Tech</h1>
        <p1>43 SE Main Street, Suite 300</p>
        <p1>Minneapolis, MN 55414</p1>
        <div>
            <img class="footer_img2" src="insta.png">
            <img class="footer_img2" src="linkdin.png">
        </div>
        &copy; www.Scruman.com All rights reserved;
        
    </div>
</footer>

</body>
</html>